/* #region common */
* 
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body
{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container
{
    width: 70%;
    margin: auto;
    max-width: 1140px;
}

.flex
{
    display: flex;
}

/* #endregion common */

/* #region up_header */

#app_header
{
    background-color: #255ee9;
    padding: 1rem 0;
    position: relative;
}

#logo_header
{
    vertical-align: middle;
}

.navigation
{
    line-height: 3rem;
}

.boxlogo-header,
.link-header,
.login-header,
{
    vertical-align: middle;
}

.flex > .boxlogo-header,
.flex > .login-header
{
    flex-grow: 1;
}

.flex > .link-header
{
    flex-grow: 3;
}

.menu.flex
{
    justify-content: center;
}

.menu > li
{
    list-style: none;
    margin: 0 1rem;
    color: #ffffff;
}


.login-header
{
    text-align: right;
}

#button_login
{
    font-size: 0.8rem;
    color: #23272a;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

/* #endregion up_header */

/* region sec_banner */

.sec_banner
{
    height: 35rem;
    background-image: url("../img/jumbo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.flex.down_header
{
    justify-content: center;
    align-items: center;
}

.banner
{
    color: #ffffff;
    height: 30rem;
    width: 55%;
    margin: auto;
    text-align: center;
}


.banner > h1
{
    font-size: 4rem;
    margin-top: 5rem;
}

.banner > p
{
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.banner > button
{
    font-size: 1.2rem;  
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
}

.banner button:first-child
{
    color: #23272a;
    background-color: #ffffff;
}

.banner button:last-child
{
    color: #ffffff;
    background-color: #23272a;
}

/* #endregion sec_banner */

/* #region main */

/* #region section even and odd */

.odd
{
    background-color: #ffffff;
    height: 40rem;
}

.even
{
    background-color: #f6f6f6;
    height: 40rem;
}

.card
{
    height: 35rem;
}

.even.flex > .card
{
    flex-direction: row-reverse;
}

.even img
{
    padding-left: 8rem;
}

.image-box
{
    width: 70%;
}

.text-box
{
    color: #23272a;
    width: 30%;
}

.text-box > h2
{
    font-size: 2.7rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.text-box > p
{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* #endregion even and odd */

/* #region last */

.last
{
    background-color: #f6f6f6;
}

.technology
{
    text-align: center;
}

.technology > h2
{
    font-size: 2.7rem;
    width: 80%;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 1rem;
}

.technology > p
{
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

.technology > img
{
    width: 95%;
}

.technology > h3
{
    font-size: 2rem;
    padding: 2rem;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 60%;
}

.technology > button
{
    font-size: 1.2rem;  
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    margin: 2rem 0 5rem;
    color: #ffffff;
    background-color: #8ea1e1;
}

/* #endregion last */
/* #endregion main */

/* #region footer */

#app_footer
{
    background-color: #23272a;
}

/* #region up_footer */

.up_footer
{
    padding: 5rem 0 3rem;
}

.nav_footer
{
    padding-top: 1rem;
}

.flex > .social-box
{
    flex-grow: 2;
}

.flex > .footer-box
{
    flex-grow: 1;
}

.social-box
{
    color: #ffffff;
}

.language
{
    line-height: 2.5rem;
}

.social-box > h3
{
    font-size: 2rem;
    color: #7188d9;
    width: 60%;
}

.language > img
{
    width: 1rem;
}

.social_icon
{
    font-size: 1.25rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
#arrow_window
{
    vertical-align: text-bottom;
}

.footer_item
{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
    margin: 0 2rem;
}

.footer_item li:first-child
{
    color: #7188d9;
}
/* #endregion up_footer */

.signin-box
{
    padding: 2rem 0 4rem;
    border-top: 1px solid #8ea1e1;
}

.flex.signin-box
{
    justify-content: space-between;
    align-items: center;
}

/* #logo_footer,*/

#button_signin
{
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #8ea1e1;
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

/* #endregion footer */

.first
{
    color: #f6f6f6;
    background-color: #ffffff;
}

.second
{
    color: #ffffff;
    background-color: #f6f6f6;
}

.third
{
    color: #f6f6f6;
    background-color: #ffffff;
}